# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

/coverage

/.next/
/out/

/build

.DS_Store
*.pem

npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

.env*

.vercel


db.json
src/lib/testOpenAi.js
src/lib/sendToAi.js
/src/generated/
seed.mjs
src.zip
testJson.json
src/app/api/teams/messages/_route(deprecated).js
src.zip
