.loadingOverlay {
  position: fixed;
  inset: var(--topbar-h) 0 0 var(--sidebar-w);
  background-color: var(--background);
  z-index: 40;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 1;
  transition: opacity 0.5s ease;
}

@media (max-width: 900px) {
  .loadingOverlay {
    inset: var(--topbar-h) 0 0;
  }
}

.hidden {
  opacity: 0;
  pointer-events: none;
}

.spinner {
  width: 50px;
  height: 50px;
  border: 8px solid #ccc;
  border-top: 8px solid #0070f3;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
